[Unit]
Description=swww wallpaper daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
User={{ ansible_env.USER }}

[Install]
WantedBy=graphical-session.target 