[Unit]
Description=swww wallpaper daemon
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
RestartSec=5
User=ritchie

[Install]
WantedBy=graphical.target 